.app-page{
    background: #2F3238;
}

.app-row{
    margin-left: 0;
}

.app-title-page{
    margin-left: 0;
}

.app-title{
    font-size: 56px !important;
    color: #4CAF50;
}

.app-desc{
    font-size: 32px !important;
    color: #8BC34A;
}

.app-section-title{
    color: #4CAF50 !important;
}

.app-section:hover .app-section-title,
.app-section:hover .app-section-title.inactive {
    background:#4CAF50 !important;
    color:#2F3238 !important;
}

.app-section .app-section-title.active {
    background:#4CAF50 !important;
    color:#2F3238 !important;
}

.app-section .app-section-title.inactive {
    background:#3C3F45;
}

.app-section-down{
    color: #388E3C !important;
}

.app-scroll-top{
    color: #388E3C !important;
}

@media (max-width: 480px) {
    .app-desc{
        font-size: 24px !important;
    }
}

.lib_name{

}

.lib{
    padding: 0;
}

.lib_item1{
    background: #26292E;
    padding: 16px;
}

.lib_item2{
    background: #22252a;
    padding: 16px;
}
.lib_name{
    margin: 0 !important;
}
.lib_url{
    color: #4CAF50;
    font-size: 16pt;
    font-family: 'Roboto';
    font-weight: 400;
}
.lib_github{
    display: inline-block;
    background-image: url(img/GitHub-Mark-Light-64px.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    float: right;
}

.lib_table{
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.lib_table div{
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
}

.lib_row1{
    left: 0;
    right: 96px;
    padding-right: 12px;
}
.lib_row2{
    max-width: 50px;
    min-width: 50px;
    width: 50px;
    right: 46px;
}
.lib_usage {
    color: #4CAF50;
    font-size: 12pt;
    font-family: 'Roboto';
    font-weight: 400;
}
.lib_row3{
    width: 46px;
    right: 0;
    padding-bottom: 16px;
}
.lib_bintray_latest_version{
    padding: 0;
    margin: 0;
}
.lib_pre{
    padding: 0 8px;
    margin: 8px;
    white-space: pre-wrap;
    display: inline-block;
    background-color: #BDBDBD;
    border-color: #555555;
}
.preElement { white-space:pre;}

.lib_gradle {
    font-family: 'Roboto Mono';
    font-size: 10pt;
    font-weight: 300;
}

.lib_row_gradle1{
    width: 60px;
    left: 0;
    padding-top: 4px;
}
.lib_row_gradle3{
    color: #4CAF50;
    width: 40%;
    padding-top: 4px;
    text-align: right;
}
.lib_row_gradle4{
    left: 60%;
    text-align: left;
}
.lib_row_gradle2{
    left: 60px;
    right: 0;
}
.lib_row_gradle5{
    color: #4CAF50;
    width: 200px;
    left: 0;
    padding-top: 4px;
}
.lib_row_gradle6{
    left: 200px;
    right: 0;
}
.lib_row_gradle7{

}
.lib_row_bintray{
    width: 60px;
    left: 0;
}
.lib_row_license{
    left: 60px;
    right: 0;
    float: left;
}
.lib_license{
    color: #4CAF50;
    font-size: 10pt;
    font-family: 'Roboto';
    font-weight: 200;
}

.contact{
    margin: 0 !important;
    color: #4CAF50;
    font-size: 11pt;
    font-family: 'Roboto';
    font-weight: 200;
}
.icon-social-telegram{
    background-image: url(img/telegram.svg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size:cover;
    width: 14.63px;
    height: 15px;
    fill: #ff0000;
}
.icon-social-telegram path {
    fill: red !important;
    color: red !important;
}
